.App {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  gap: 10px;
  padding: 10px;
}

.timer {
  justify-self: center;
}
form {
  max-width: 200px;
}

form h4 {
  margin-bottom: 10px;
}

input {  
  outline: 1px solid lightgray;
}
input:focus {
  outline: 1.2px solid rgb(0, 115, 255);
}

input, button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
}

button {
  background-color: rgb(69, 147, 236);
  color: white;
  margin-top: 10px;
}